
<div class="about-p " id="about">
    <div class="p-5"><h1 class="font-one animate__animated animate__fadeInUp fw-bold">About</h1>
    <p class="p-5"><span class="hypn">-</span>
        Experienced software engineer with a passion for
        developing innovative programs educate and
        manage a team of professionals to build software
        programs. Confident communicator, strategic
        thinker, and innovative creator to develop software
        that is customized to meet a company’s
        organizational needs, highlight its core
        competencies, and further its success.
    </p>
    </div>
</div>
