
<div class="main p-5" id="experince">
    <h1 class="font-one animate__animated animate__fadeInUp fw-bold" >Experience </h1><br>
<div class="container-fluid container animate__animated animate__zoomIn">
   <h3 class="m-0 p-0">Full Stack Developer Developer | KairosMagus Pvt Ltd</h3>  <br>
   <br>
   <h4 class="m-0 p-0">Hyderabad, INDIA | June 2022 Present</h4> <br>
   <ul><li>Collaborated with UI/UX designers to implement responsive and interactive user interfaces using Angular framework.</li>
<li>Developed and maintained front-end components and services, ensuring high performance and code quality. </li>
<li> Integrated RESTful APIs and managed data flow to deliver dynamic content to users. </li>
<li>Utilized NodeJS for backend interaction and data processing. </li>
<li>Worked in an Agile team, participating in daily stand-ups, sprint planning, and code reviews. </li>
<li>Contributed to continuous integration and deployment processes using Git and AWS. </li>
<li> Conducted performance optimization and troubleshooting to enhance application efficiency</li>
</ul>
    
  
</div>
    
    
</div>
