<div class="main" id="ids">
    <div>
        <h1 class="text-center text-white contct font-one animate__animated animate__fadeInUp fw-bold pt-4">Contact</h1>
    </div>
<div>
    <div class="d-flex justify-content-around p-4 btn-2">
        <div>
            <button class="btn animate__animated animate__zoomIn">+91 9670313931</button>
        </div>
       
        <div>
            <button class="btn animate__animated animate__zoomIn">shaifalam8993@gmail.com</button>
        </div>

    </div>
    <div>
        <div class="text-center pb-3 ">

            <button class="btn animate__animated animate__zoomIn">Hyderabad INDIA</button>
        </div>

    </div>
    <div>
        <div class="text-end d-flex justify-content-around p-3">
            <a href="https://www.linkedin.com/in/shaif-alam-95550b173/" target="_blank">
                <img src="../../assets/li.png" alt="LinkedIn" width="50">
            </a>
           
            <a href="" target="_blank">
                <img src="../../assets/gitf.png" alt="git" width="50">
            </a>
        
        </div>
    </div>
    
</div>
</div>

<div class="mainsecond">
    <div class="add"><h1 class="text-center font-one ">"Thanks for Scrolling"</h1></div>

</div>