<div class="about-p">
    <h1 class="text-center p-5 font-one animate__animated animate__zoomIn fw-bold">My Skills</h1>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-3 skill-box mb-5">
                <div> <img src="../../assets/skill-logo/an.png" alt="angular" class="animate__animated animate__fadeInUp"
                        width="80px" height="80px"></div>
                <div class="p-2">
                    <h4 class="animate__animated animate__fadeInUp">Angular</h4>
                </div>
            </div>
    
            <div class="col-md-3 skill-box mb-5">
                <div> <img src="../../assets/skill-logo/node.png" alt="node" class="animate__animated animate__fadeInUp"
                        width="80px" height="80px"></div>
                <div class="p-2">
                    <h4 class="animate__animated animate__fadeInUp">Node.js</h4>
                </div>
            </div>
    
            <div class="col-md-3 skill-box">
                <div> <img src="../../assets/skill-logo/aw.png" alt="aws" class="animate__animated animate__fadeInUp"
                        width="100px" height="100px"></div>
                <div class="p-2">
                    <h4 class="animate__animated animate__fadeInUp">AWS</h4>
                </div>
            </div>
    
            <div class="col-md-3 skill-box">
                <div> <img src="../../assets/skill-logo/bt.png" alt="bootstrap" class="animate__animated animate__fadeInUp"
                        width="80px" height="80px"></div>
                <div class="p-2">
                    <h4 class="animate__animated animate__fadeInUp">Bootstrap</h4>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container py-5">
        <div class="row justify-content-around">
            <div class="col-md-4 skill-box mb-3">
                <div class="my-auto">
                    <img src="../../assets/skill-logo/gth.net" class="animate__animated animate__fadeInUp" alt="figma"
                        width="80px" height="80px">
                    <h4 class="animate__animated animate__fadeInUp">Figma</h4>
                </div>
            </div>
            <div class="col-md-4 skill-box mb-5">
                <div class="my-auto">
                    <img src="../../assets/skill-logo/gt.png" alt="git" class="animate__animated animate__fadeInUp"
                        width="80px" height="80px">
                    <h4 class="animate__animated animate__fadeInUp">Git Source Control</h4>
                </div>
            </div>
            <div class="col-md-4 skill-box">
                <div class="my-auto">
                    <img src="../../assets/skill-logo/css.png" alt="css" class="animate__animated animate__fadeInUp"
                        width="80px" height="80px">
                    <h4 class="animate__animated animate__fadeInUp">CSS</h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container py-3 pb-5">
        <div class="row justify-content-around">
            <div class="col-md-6 col-lg-3 skill-box">
                <div class="my-auto">
                    <img src="../../assets/skill-logo/pt.png" alt="postgresql" class="animate__animated animate__fadeInUp"
                        width="80px" height="80px">
                    <div class="p-2">
                        <h4 class="animate__animated animate__fadeInUp">PostgreSQL</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 skill-box">
                <div class="my-auto">
                    <img src="../../assets/skill-logo/htll.png" alt="html" class="animate__animated animate__fadeInUp"
                        width="80px" height="80px">
                    <div class="p-2">
                        <h4 class="animate__animated animate__fadeInUp">HTML</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>